.test {

  color: chartreuse
}

.navbar {
  height: 100%;
  background-color: #8A00F6;
  padding: 0;
}

.navbar.collapse {
  height: 100%;
  background-color: #8A00F6;
}

.button {
  height: 100%;
  color: black;
  padding: 12px;
}

.button.selected {
  background-color: #A259FF;
  color: white;
}