%color {
    background: url(/icons.png) no-repeat 0 0;
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px
}

.color_neutral {
    @extend %color;
    background-position-x: -120px;
}

.color_plains {
    @extend %color;
    background-position-x: -24px;
}

.color_forests {
    @extend %color;
    background-position-x: 0px;
}

.color_mountains {
    @extend %color;
    background-position-x: -72px;
}

.color_dark {
    @extend %color;
    background-position-x: -96px;
}

.color_swamps {
    @extend %color;
    background-position-x: -48px;
}

.highligted {
    background-position-y: -24px;
}