$primapy_color: #78DBE2;
$hover_color: rgba(120, 219, 226, .8);
$text_color_primary: #000000;

.navbar {
  height: 100%;
  background: var(--gradient_background);
  padding: 0;

}

.button {
  height: 100%;
  color: white;
  padding: 12px;
}

.button:hover {

  background-color: $hover_color;
  color: $text_color_primary;

}